@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: 'Roboto', sans-serif;
}

* {
  font-family: var(--main-font);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1, h2, h3, h4, h5, h6, p, span, small {
  color: #ffffff;
}

a, button, .icon, img {
  user-select: none;
  background: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: #000000;
}

/* Radial gradient for hero section image frame */
.radial_frame {
  background: radial-gradient(circle at center, #00000000 0, #000000 80%);
}

.lorem_testing {
  color: rgb(0, 95, 230);
}